html, * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 20px;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.body-wrap {
    display: flex;
    flex-direction: column;
    width: 100%;
    /* height: auto;
    border: none; */
}


nav.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 4em;
    width: 100%;
    position: fixed;
    z-index: 1;
    color: white;
    background-color: rgba(85, 121, 119, 0.55);
}

.nav-bar-spacing {
    display: flex;
    flex-wrap: nowrap;
}

.navbar-text-boxes {
    display: flex;
    justify-content: space-around;
    margin: 0 10px 0 10px;
    
}
.navbar-text-boxes a {
    text-decoration: none;
    color: white;
    margin: 5px 30px 0px 30px
}

.link-block {
    position: relative;
}

.left-side-logo {
    display: flex;
    justify-self: start;
    flex: 1;
    max-width: 201px;
    height: auto;
    z-index: 1;
}

.left-logo-name {
    justify-content: flex-start;
}



div.dropdown-menu {
    display: none;
    position: relative;
}


.about-hover:hover/*, #drop-down-menu1*/ { 
    display: flex;
    flex-direction: column;
    /* position: relative; */
    z-index: 450;
    background-color: rgba(85, 121, 119, 0.55);
    /* height: 15%;
    width: 15%; */
}

.help-text:hover {
    display: block;
    position: relative;
}

.community-text:hover {
    display: block;
    position: relative;
}

#drop-down-menu1:hover {
    /* display: block;
    position: relative;
    z-index: 400; */
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 450;
    background-color: rgba(85, 121, 119, 0.55);
    height: 15%;
    width: 15%;
}

#drop-down-menu2:hover {
    display: block;
    position: relative;
    z-index: 400;
}

#drop-down-menu3:hover {
    display: block;
    position: relative;
    z-index: 400;
}

.open-app-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.open-app-button a {
    text-decoration: none;
    color: white;
}

.top-right-button {
    border: 2px solid white;
    padding: 3px;
    margin-right: 20px;
}

.top-background-section {
    display: flow;
    align-items: center;
    width: 100%;
    height: auto;
    position: relative;
    background-color: white;
    background-image: url(https://www.kastapp.co/images/gradient-violet-bg.jpg);
    background-position: 20% 20%;
}


.top-element {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10% 30% 5% 30%;
    text-align: center;
}

.large-laptop {
    width: 800px;
    height: auto;
}


.white-background-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    height: auto;
    position: relative;
}

.white-background-headline {
    margin-top: 10%;
    color: black;
}

.feature-logos {
    display: grid;
    grid-column-gap: 140px;
    grid-row-gap: 80px;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 5%;
}

.unattributed-quote {
    margin-bottom: 10%;
    color: black;
}

.green-background-section {
    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;
    width: 100%;
    height: auto;
    background-color: white;
    background-image: url(https://www.kastapp.co/images/green-bg.jpg);
    background-position: 50% 50%
}

.green-background-info {
    margin: 10% 30% 10% 30%;
}

.white-video-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    text-align: center;
    color: black;
}

.info-above-video {
    width: 45%;
    margin: 40px 0 20px 0;
}

.video {
    width: 100%;
    height: 500px;
    margin: 20px 0 20px 0;
}

a.open-kast-button {
    text-decoration: none;
    border: 4px solid #fe9000;
    background-color: #fe9000;
    color: white;
    padding: 10px 50px 10px 50px;
    margin: 20px 0 20px 0;
}
a.learn-more-link {
    text-decoration: none;
    color: #fe9000;
    font-size: 20px;
    margin-top: 30px;
}